{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 text-center mt-5">
        <h1>Django CRUD Application</h1>
        <p class="lead">Welcome to the Task Manager</p>
        
        {% if user.is_authenticated %}
            <a href="{% url 'tasks' %}" class="btn btn-primary btn-lg">View My Tasks</a>
        {% else %}
            <a href="{% url 'signup' %}" class="btn btn-primary btn-lg me-2">Sign Up</a>
            <a href="{% url 'signin' %}" class="btn btn-secondary btn-lg">Sign In</a>
        {% endif %}
    </div>
</div>
{% endblock %}